:host {
  display: block;
}

h4 {
  margin-top: 50px;
}

h4,
.display-row {
  display: flex;
}

.number {
  width: 14px;
  padding: 2px;
  color: white;
  background-color: #505152;
  border-radius: 50%;
  font-size: 0.7rem;
  margin-right: 10px;
  text-align: center;
}
